
.about-me {
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    justify-content: center;
}
.about-me_item {
    width: 50%;
    padding: 10px 20px;
}

#map {
    width: 60vw;
    height: 50vh;
    margin: 0 auto;
}