.navbar {
    background-color: rgb(228, 228, 228);
    position: relative;
    border: 1px solid black;
}
.nav-display {
    display: flex;
    justify-content: flex-end;
}
.nav-display li {
    list-style: none;
    margin: 2em;
    cursor: pointer;
    color: rgb(74, 65, 42);
}